.icon {
  &_vk {
    width: 22px;
    height: 13px;
  }

  &_facebook {
    width: 10px;
    height: 21px;
  }

  &_instagram {
    width: 21px;
    height: 21px;
  }

  &_google {
    width: 22px;
    height: 17px;
  }
}
