.price-list {
  &__item {
    padding: 15px 0;
    display: flex;

    &:first-child {
      padding-top: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-db;
    }
  }

  &__value {
    margin-left: auto;
    padding-left: 5px;
    font-weight: 700;
    white-space: nowrap;
  }
}
