svg(width='100%', height='18', viewBox='0 0 350 18', preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg')
  path(d='M0 0c78.204 10.155 136.537 15.232 175 15.232 38.463 0 96.796-5.077 175-15.232v18H0V0z', fill='#E6EAF0', fill-rule='evenodd', vector-effect="non-scaling-stroke")
