svg(width='23', height='100%', viewBox='0 0 23 255', preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg')
  path(d='M0 0h23v256H0c14.018-53.38 21.026-93.328 21.026-119.848C21.026 109.633 14.018 64.25 0 0z', fill='#E6EAF0', fill-rule='evenodd')
