.card.card_row
  .card__image.card__image_250(style="background-image: url(/images/discount.jpg)")
  .card__body.card__body_discount
    .card__left-border
      include border_left
    header.card__header
      | Техосмотр
      br
      | в подарок
    .card__small Таким образом новая модель организационной деятельности представляет собой интересный...
    .card__footer
      a.link.card__more(href="/service.html") Подробнее
