extends base

block headerInner
  .row
    .columns
      nav(aria-label='You are here:', role='navigation')
        ul.breadcrumbs
          li
            a(href='/') Главная
          li О компании
      h1 О компании

block content
  main.section.section_plain-bottom.section_circles
    section.row
      .large-6.columns
        img(src="https://gazizzz.github.io/Vostok/images/content/about.jpg")
      .large-6.columns
        p Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение систем массового участия. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития.
    section.section.row
      .columns
        header.section__header
            h2
              span.section__title Наши услуги
              span.u-line.u-inline.section__line
        p Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение систем массового участия. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития.
        p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки направлений прогрессивного развития.
    section.section.section_plain.row
      .columns
        include partials/masters
    include partials/map
