extends base

block headerInner
  .row
    .columns
      nav(aria-label='You are here:', role='navigation')
        ul.breadcrumbs
          li
            a(href='/') Главная
          li Акции
      h1 Акции

block content
  main.section.section_circles
    .row
      ul.no-bullet
        each discount in [1,2,3,4,5,6,7,8]
          li.medium-6.columns.end
            include partials/discount

  include partials/map
