footer.footer
  nav.footer__nav
    ul.footer__nav-list
      li.footer__nav-item
        a.footer__nav-link(href="/about.html") О компании
      li.footer__nav-item
        a.footer__nav-link(href="/") Новости
      li.footer__nav-item
        a.footer__nav-link(href="/discounts.html") Акции
      li.footer__nav-item
        a.footer__nav-link(href="/services.html") Услуги
      li.footer__nav-item
        a.footer__nav-link(href="/price-list.html") Прайс-лист
      li.footer__nav-item
        a.footer__nav-link(href="/feedbacks.html") Отзывы
      li.footer__nav-item
        a.footer__nav-link(href="/contacts.html") Контакты
  .footer__copyright
    | Создание и продвижение сайтов&nbsp;
    a.footer__website(href="/") aAccent
