script(src="https://gazizzz.github.io/Vostok/vendors/jquery/dist/jquery.min.js")
script(src="https://gazizzz.github.io/Vostok/vendors/slick-carousel/slick/slick.min.js")
script(src="https://gazizzz.github.io/Vostok/vendors/fontfaceobserver/fontfaceobserver.js")
script(src="https://gazizzz.github.io/Vostok/scripts/app.js")
script(src="https://gazizzz.github.io/Vostok/scripts/map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZgqY43Ut_ZGG4wIpVeRH2Bh4JFPzDN1c&callback=initMap")
