extends base

block headerInner
  .row
    .columns
      nav(aria-label='You are here:', role='navigation')
        ul.breadcrumbs
          li
            a(href='/') Главная
          li
            a(href='/') Услуги
          li Ремонт АКПП
      h1.u-text-ellipsis Ремонт АКПП

block content
  - var stars = [1,2,3,4,5]
  main.section.section_circles
    .row
      .column
        .card.card_row.card_detail
          .card__image_row.card__image.large-6.columns(style="background-image: url(https://gazizzz.github.io/Vostok/images/content/service.jpg)")
          .card__body.card__body_large.large-6.columns
            .service-card__icon
              svg
                use(xlink:href='#icon-service_0')
            .service-card__body
              h2.card__header.card__header_large.u-text-ellipsis Ремонт автоматических коробок передач
              .card__small
                | Срок окозания услуги:
                strong  от 2 до 4 недель
              .service-card__cost
                | Стоимость услуги:
                .service-card__cost-value 10 000 руб.
                a.link(href="/price-list.html") Прайс-лист
              .master__footer.js-modal-button
                button.button.u-plain Записаться на диагностику
    .row
      .columns.large-9
        section.section
          header.section__header
            h2
              span.section__title Описание
              span.u-inline.u-line.section__line
          p Современные автоматические коробки передач выпускаются с увеличенным количеством скоростей. 8-9 ступеней переключения передач, на сегодняшний день – производственная реальность.
          p Трансмиссия такой конфигурации позволяет изначально добиться усиления эксплуатационных показателей автомобиля, но как показывает опыт, подобные новшества конструкции не всегда сопровождаются усилением технического ресурса. Следствием чего становится все более регулярный и систематичный ремонт автоматических коробок передач, установленных на сравнительно новых модификациях.
          p Даже классические гидромеханические коробки на сегодняшний день изнашиваются намного быстрее. Использование более дешевых материалов и хрупких сплавов для изготовления коробки неминуемо ведет к тому, что ремонт АКПП становится жизненной необходимостью даже через два-три десятка тысяч километров пробега.
        section.section
          header.section__header
            h2
              span.section__title Как определить необходимость  в ремонте коробки автомат?
              span.u-inline.u-line.section__line
          p Как определить, нужен ли вашему авто ремонт коробки автомат, или ситуация еще не настолько критична, и достаточно будет замены масла, например?
          p Признаков возникновения неполадок в АКПП достаточно много – но, в любом случае, переключая скорость, вы сразу почувствуете, если с коробкой что-то неладно.
        section.section
          header.section__header
            h2
              span.section__title Наиболее распространенные причины требующие ремонта АКПП
              span.u-inline.u-line.section__line
          p Вызывают серьезные опасения такие проявления, как:
          ul.styled-list
            li Ощущения рывков и толчков при переключении скоростей;
            li Возникновение странного скрежета, постукивания;
            li Выявление любых непривычных звуков;
            li Ощущение неравномерного разгона;
            li Пробуксовка автомобиля:
            li Несвоевременное реагирование коробки на переключение скорости.
          blockquote Все это свидетельствует о том, что ремонт коробки автомат неминуем. Если вы обнаружили что-то подобное, стоит сразу же обратиться в сервисный центр и провести профессиональную диагностику!
          p Ремонт автоматических коробок передач современного образца требует новейшего технического оборудования, а замена отдельных деталей может быть достаточно кропотливым процессом. Поэтому стоит выбирать проверенных профессионалов, которые окажут вашему автомобилю своевременную помощь.
          p Наш автосервис предлагает быстрый и качественный ремонт АКПП в Казани, оперативную диагностику, современный сервис и лояльную стоимость услуг.
          .price-card
            .price-card__left
              | Стоимость услуги:
              .price-card__value 10 000 руб.
            .price-card__right
              button.price-card__button.button.js-modal-button Записаться на диагностику
              a.price-card__button.button.primary.hollow(href="/price-list.html")
                | Прайс-лист
                span.service__arrow
                  svg(width="18px", height="14px")
                    use(xlink:href="#icon-arrow")

      .columns.large-3
        include partials/discount_left

  include partials/map
